<div id="main" class="without_sidebar">   
    <div class="ui modal">        
        <div class="header">
            <h2>
                <i class="home icon"></i>
                {{model?.type?.type}} en {{model?.state?.state}}
            </h2>
        </div>
        <div class="content">
            <!-- slider -->
            <div id="main_slider_inner">
                <div class="sc_slider sc_slider_flex">
                    <ul class="slides">
                        <!-- slider item -->
                        <li [attr.data-slide]="'uploads/property/' + i.name" *ngFor="let i of model?.imagesProperties; let last = last;" [isLast]="last" (lastDone)="initSlider()" >
                            <!--<li [attr.data-slide]="'uploads/property/' + i.name" *ngFor="let i of model?.imagesProperties; let last = last;" isLast [ready]="last ? true : false" [init]="initSlider()" >-->
                            <div class="sc_slider_info theme_accent_bg" data-slidetextbg="rgba(114,13,65,0.8)">
                                <div class="sc_slider_category theme_accent_bg" data-categoryiconbg="00a0db">{{model?.type?.type}}</div>
                                <div class="sc_slider_reviews reviews_summary blog_reviews after_category">
                                    <div class="criteria_summary criteria_row">
                                        <span class="criteria_stars" title="4.6 from 5">
                                            <span class="stars_off"><span class="theme_stars"></span><span class="theme_stars"></span><span class="theme_stars"></span><span class="theme_stars"></span><span class="theme_stars"></span></span>
                                            <span class="stars_on" data-review="92"><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span></span>
                                        </span>
                                    </div>
                                    <h2 class="sc_slider_subtitle">
                                        <a href="single-format-quote.html">En {{model?.state?.state}}</a>
                                    </h2>
                                    <div class="sc_slider_descr">{{model?.price | currency:getCurrency(model?.money):true:'3.2-2'}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>      
    
                </div>            
                 #slider 
                <div class="ui styled fluid accordion">
                    <div class="title active">
                        <i class="dropdown icon"></i>
                        Referencias
                    </div>
                    <div class="content active">
                        <p class="transition visible">{{model?.references}}</p>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        Descripcion del Inmueble
                    </div>
                    <div class="content">
                        <p class="transition visible">{{model?.description}}</p>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        Datos del Agente
                    </div>
                    <div class="content">
                        <p class="transition visible">{{model?.agent?.names}} {{model?.agent?.surnames}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui black deny button">
                Cerrar
            </div>
            <div class="ui positive right labeled icon button">
                Ver Propiedad
                <i class="checkmark icon"></i>
            </div>
        </div>
    </div>   

    <div id="main_inner" class="clearboth blog_style_fullpost">
        <!-- content -->
        <div id="content" class="content_blog post_single" >
            <div class="itemscope" itemscope itemtype="http://schema.org/Article">
                <article class="theme_article post_format_standard instock">
                    <div class="post_content without_paddings">
                        <div itemprop="articleBody" class="post_text_area">
                            <div class="sc_section sc_puzzles custom-container"> 
                                <div *ngIf="!((properties | filterProperty:gs.inputSearch)?.length) && !(isLoading$  | async)" class="ui icon masive negative message">
                                    <i class="search icon"></i>
                                    <div class="content">
                                        <div class="header">
                                            0 Resultados...
                                        </div>
                                        <p>Vuelva a intentarlo!</p>
                                    </div>
                                </div>
                                <div *ngIf="isLoading$ | async" class="ui icon masive message">
                                    <i class="notched circle loading icon"></i>
                                    <div class="content">
                                        <div class="header">
                                            Unos segundos
                                        </div>
                                        <p>Cargando propiedades...</p>
                                    </div>
                                </div>

                                <!-- puzzle item -->
                                <div class="sc_blogger_item sc_blogger_item_puzzles" *ngFor="let p of properties | filterProperty:gs.inputSearch; let i = index; let last = last;">
                                     <div class="post_thumb image_wrapper down-1">
                                        <a href="single-format-gallery.html"><img alt="" src="uploads/property/{{p.imagesProperties[0].name}}"></a>
                                        <span class="post_format theme_accent_bg icon-camera" data-categoryiconbg="00a0db" (click)="showModal(p);"></span>
                                        <span class="post_category theme_accent_bg" [attr.data-categoryiconbg]="selectColorTypeProperty(p.type.type)">{{p.type.type}}</span>
                                        <div class="post_content_wrapper theme_puzzles" data-puzzlecolor="111111">
                                            <h2 class="post_subtitle"><a href="single-format-gallery.html">{{p.state.state}}</a></h2>
                                            <div class="reviews_summary blog_reviews theme_puzzles">
                                                <div class="criteria_summary criteria_row">
                                                    <!--<sm-rating class="massive star" [initialRating]="p.priority" [maxRating]="5" #rating></sm-rating>-->
                                                    <div class="ui massive star rating" [attr.data-rating]="p.priority" [attr.data-max-rating]="5"></div>
                                                </div>
                                            </div>
                                            <div class="post_descr">
                                                <p>{{p.address}}</p>
                                                <p>{{p.description | truncate: [100]}}</p>
                                            </div>
                                            <h2 class=""><a href="single-format-gallery.html">{{p.price | currency:getCurrency(p.money):true:'3.2-2'}}</a></h2>
                                            <div class="post_content_padding theme_puzzles"></div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /puzzle item -->

                            </div>
                        </div>
                    </div>

                </article>
            </div>

        </div><!-- #content -->

    </div><!-- #main_inner -->
</div><!-- #main -->
