<!-- socials -->
<div class="post_info post_info_bottom theme_text">
    <div class="share-social theme_info share-dir-vertical">
        <span class="share-caption">Share this</span>
        <a href="#" class="share-item" onclick="trexShareTwitter()" data-count="twitter"><img src="images/socials/twitter.png" alt="twitter"></a>

        <a href="#" class="share-item" onclick="trexShareFacebook()" data-count="facebook"><img src="images/socials/facebook.png" alt="facebook"></a>

        <a href="#" class="share-item" onclick="trexShareGplus()" data-count="gplus"><img src="images/socials/gplus.png" alt="gplus"></a>

        <a href="#" class="share-item" onclick="trexShareLinkedin()" data-count="linkedin"><img src="images/socials/linkedin.png" alt="linkedin"></a>

        <a href="#" class="share-item" onclick="trexSharePinterest()" data-count="pinterest"><img src="images/socials/pinterest.png" alt="pinterest"></a>
    </div>			
</div>
<!-- #socials -->
<header role="banner">
    <div id="header_top">
        <div class="top_line theme_accent_bg"></div>
        <div id="header_top_inner">
<!--            <div id="login_area">
                <a href="#" class="link_login icon-login-1 theme_accent_bg" title="Login"></a>
                <a href="#" class="link_register icon-key theme_accent_bg" title="Register"></a>
            </div>            -->
            <div class="logo logo_text">
                <a href="index-2.html">
                    <span class="logo_title theme_header">portal <span class="theme_accent">Inmobiliario</span>.pe</span>
                </a>
            </div>						
        </div>
    </div>
    <div id="header_middle_wrapper">
        <div id="header_middle"  >
            <div id="header_middle_inner">
                <div class="search_form_area theme_body">
                    <form class="search_form" action="#" method="get"><input class="search_field" type="search" placeholder="Type your search query and press 'Enter' ..." value="" name="s"></form>
                    <a href="#" class="search_close"><span class="icon-cancel-circled"></span></a>
                </div>
                <!-- main menu -->
                <nav id="mainmenu_area" class="mainmenu_area theme_menu" role="navigation">
                    <ul id="mainmenu">
                        <li class="red">
                            <a routerLink="/home">Inicio</a>                            
                        </li>                                              
                        <li class="red">
                            <a routerLink="/search">Buscar</a>                            
                        </li>                                              
<!--                        <li>
                            <a routerLink="/blog">Blog</a>                            
                        </li>
                        <li class="blue">
                            <a routerLink="/movies">Peliculas</a>
                        </li>                        
                        <li class="red">
                            <a routerLink="/music">Musica</a>
                        </li>
                        <li class="green">
                            <a routerLink="/gifts">Regalos</a>
                        </li>-->
                        <li class="red">
                            <a routerLink="/contactus">Contactanos</a>
                        </li>
                    </ul>	
                    <a href="#" class="search_link"><span class="icon-search"></span></a>
                </nav>
                <!-- #main menu -->
            </div>
        </div>
    </div>
    <div id="header_middle_fixed"></div>
</header>
<router-outlet></router-outlet>
<footer id="footer" class="site_footer" role="contentinfo">
    <div id="footer_sidebar" class="widget_area theme_dark theme_article" role="complementary">
        <div id="footer_sidebar_inner">
            <!-- widget socials -->
            <aside class="widget widget_socials">			
                <div class="widget_inner">
                    <div class="logo logo_text"><a href="index-2.html">
                            <span class="logo_title theme_header">Cube<span class="theme_accent">IT</span>.pe</span></a>
                    </div>
                    <div class="logo_descr">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                    <a class="social_icons social_facebook" href="https://www.facebook.com/themerex" target="_blank"><img src="images/socials/facebook.png" alt="" /></a><a class="social_icons social_twitter" href="https://twitter.com/Theme_REX" target="_blank"><img src="images/socials/twitter.png" alt="" /></a><a class="social_icons social_gplus" href="https://plus.google.com/102189073109602153696" target="_blank"><img src="images/socials/gplus.png" alt="" /></a><a class="social_icons social_youtube" href="https://www.youtube.com/channel/UCnFisBimrK2aIE-hnY70kCA" target="_blank"><img src="images/socials/youtube.png" alt="" /></a><a class="social_icons social_pinterest" href="http://themeforest.net/user/ThemeREX/portfolio" target="_blank"><img src="images/socials/pinterest.png" alt="" /></a>		
                </div>
            </aside>
            <!-- #widget socials -->
            <!-- widget flickr -->
            <aside class="widget widget_flickr">
                <h3 class="widget_title theme_title">Flickr</h3>		
                <div class="flickr_images">
                    <a href="#"><img title="" alt="A photo on Flickr" src="images/thumbs/flickr_thumb1.jpg"></a>
                    <a href="#"><img title="" alt="A photo on Flickr" src="images/thumbs/flickr_thumb2.jpg"></a>
                    <a href="#"><img title="" alt="A photo on Flickr" src="images/thumbs/flickr_thumb3.jpg"></a>
                    <a href="#"><img title="" alt="A photo on Flickr" src="images/thumbs/flickr_thumb4.jpg"></a>
                    <a href="#"><img title="" alt="A photo on Flickr" src="images/thumbs/flickr_thumb5.jpg"></a>
                    <a href="#"><img title="" alt="A photo on Flickr" src="images/thumbs/flickr_thumb6.jpg"></a>
                    <a href="#"><img title="" alt="A photo on Flickr" src="images/thumbs/flickr_thumb7.jpg"></a>
                    <a href="#"><img title="" alt="A photo on Flickr" src="images/thumbs/flickr_thumb8.jpg"></a>
                    <a href="#"><img title="" alt="A photo on Flickr" src="images/thumbs/flickr_thumb9.jpg"></a>
                    <a href="#"><img title="" alt="A photo on Flickr" src="images/thumbs/flickr_thumb10.jpg"></a>
                </div>
            </aside>
            <!-- widget #flickr -->
            <!-- widget recent post -->
            <aside class="widget widget_recent_entries widget-odd">		
                <h3 class="widget_title theme_title">Recent posts</h3>		
                <ul>
                    <li><a href="single-format-standard.html">Ripd</a></li>
                    <li><a href="single-format-gallery.html">Star Trek Into Darkness</a></li>
                    <li><a href="single-format-video.html">Iron Man</a></li>
                    <li><a href="single-format-standard.html">Man of steel</a></li>
                    <li><a href="single-format-audio.html">Grid</a></li>
                    <li><a href="single-format-gallery.html">Hitman</a></li>
                    <li><a href="single-format-video.html">GTA V</a></li>
                </ul>
            </aside>
            <!-- #widget recent post -->
            <!-- widget contact form -->
            <aside class="widget widget_text">
                <h3 class="widget_title theme_title">Contact form</h3>			
                <div class="textwidget">
                    <div class="sc_contact_form">
                        <form method="post" action="http://cubeit.pe/sendmail.php">
                            <div class="field field_name"><input type="text" id="sc_contact_form_username" name="username" placeholder="Your Name*"></div>
                            <div class="field field_email"><input type="text" id="sc_contact_form_email" name="email" placeholder="Your Email*"></div>
                            <div class="field field_message"><textarea id="sc_contact_form_message" name="message" placeholder="Your Message*"></textarea></div>
                            <div class="sc_contact_form_button"><a href="#" class="sc_contact_form_submit theme_button"><span>Send</span></a></div>
                            <div class="result sc_infobox"></div>
                        </form>
                    </div>
                </div>
            </aside>	
            <!-- #widget contact form -->		
        </div>
    </div>
    <!-- footer_copyright -->
    <div id="footer_copyright" class="theme_dark theme_article">
        <div id="footer_copyright_inner" class="theme_text">
            <a href="http://cubeit.pe">CubeIT</a> &copy; 2013 All Rights Reserved 			
        </div>
    </div>
    <!-- #footer_copyright -->
</footer>


