

<div id="main" class="with_sidebar right_sidebar">
    <div id="main_inner" class="clearboth blog_style_fullpost">
        <!-- content -->
        <div id="content" class="content_blog post_single" role="main">
            <div class="itemscope" itemscope itemtype="http://schema.org/Article">

                <article class="theme_article post_format_standard instock">
                    <div class="post_content">
                        <div itemprop="articleBody" class="post_text_area">
                            <div class="sc_column_item sc_column_item_1 first">

                                <!-- Contact form -->
                                <h2>CONTACT FORM</h2>
                                <div class="sc_contact_form">
                                    <div class="description">Contact form description...</div>
                                    <form method="post" action="http://puzzleshtml.themerex.net/include/sendmail.php">
                                        <div class="field field_name">
                                            <input type="text" id="sc_contact_form_username2" name="username" placeholder="Your Name*" />
                                        </div>
                                        <div class="field field_email">
                                            <input type="text" id="sc_contact_form_email2" name="email" placeholder="Your Email*" />
                                        </div>
                                        <div class="field field_message">
                                            <textarea id="sc_contact_form_message2" name="message" placeholder="Your Message*"></textarea>
                                        </div>
                                        <div class="sc_contact_form_button">
                                            <a href="#" class="sc_contact_form_submit theme_button"><span>Send</span></a>
                                        </div>
                                        <div class="result sc_infobox"></div>
                                    </form> 
                                </div>
                                <!-- /Contact form -->

                                <!-- Highlightg -->
                                <h2>HIGHLIGHT</h2>
                                <p>Lorem ipsum dolor sit amet, <span class="sc_highlight sc_highlight_style5">consectetur adipisicing</span> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <span class="sc_highlight sc_highlight_style6">Ut enim ad minim veniam</span>, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                <!-- Highlightg -->

                            </div>
                        </div>
                    </div>
                </article>

            </div>
        </div><!-- #content -->

        <!-- Sidebar -->
        <div id="sidebar_main" class="widget_area sidebar_main theme_blue" role="complementary">
            <!-- widget categories -->
            <aside class="widget widget_categories">
                <h3 class="widget_title theme_title">Categories</h3>		
                <ul>
                    <li><a href="excerpt-style6.html" title="View all posts filed under Advertisement">Advertisement</a></li>
                    <li><a href="excerpt-style3.html" title="View all posts filed under Games">Games</a></li>
                    <li><a href="excerpt-style1.html" title="View all posts filed under Movies">Movies</a>
                        <ul class="children">
                            <li><a href="excerpt-style5.html" title="View all posts filed under Actions">Actions</a></li>
                            <li><a href="excerpt-style1.html" title="View all posts filed under Adventure">Adventure</a></li>
                        </ul>
                    </li>
                    <li><a href="fullpost-style.html" title="View all posts filed under Music">Music</a></li>
                    <li><a href="excerpt-style4.html" title="View all posts filed under Tech">Tech</a></li>
                </ul>
            </aside>
            <!-- widget categories -->
            <!-- Popular Post -->
            <aside class="widget widget_popular_posts">
                <h3 class="widget_title theme_title">Popular</h3>
                <!-- Tabs -->
                <div class="popular_and_commented_tabs">
                    <ul class="tabs">
                        <li><a href="#widget_popular_block1" class="theme_button"><span>Popular</span></a></li><li><a href="#widget_popular_block2" class="theme_button"><span>Commented</span></a></li>
                    </ul>
                    <div class="tab_content" id="widget_popular_block1">
                        <!-- post item -->
                        <div class="post_item first">
                            <div class="post_thumb image_wrapper"><img alt="" src="images/sidebar-tab-pic1.jpg"></div>
                            <div class="post_wrapper">
                                <h5 class="post_title theme_title"><a href="single-format-video.html">Iron Man</a></h5>
                                <div class="post_info theme_info">
                                    <span class="post_date theme_text">September 1, 2013</span>
                                    <span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
                                    <span class="post_comments_text"><a href="single-format-video.html"><span class="post_comments_number">12019</span> views</a></span>
                                </div>
                            </div>
                        </div>
                        <!-- /post item -->

                        <!-- post item -->
                        <div class="post_item">
                            <div class="post_thumb image_wrapper"><img alt="" src="images/sidebar-tab-pic2.jpg"></div>
                            <div class="post_wrapper">
                                <h5 class="post_title theme_title"><a href="single-format-standard.html">Man of steel</a></h5>
                                <div class="post_info theme_info">
                                    <span class="post_date theme_text">August 30, 2013</span>
                                    <span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
                                    <span class="post_comments_text"><a href="single-format-standard.html"><span class="post_comments_number">10680</span> views</a></span>
                                </div>
                            </div>
                        </div>
                        <!-- /post item -->

                        <!-- post item -->
                        <div class="post_item">
                            <div class="post_thumb image_wrapper"><img alt="" src="images/sidebar-tab-pic3.jpg"></div>
                            <div class="post_wrapper">
                                <h5 class="post_title theme_title"><a href="single-format-gallery.html">Star Trek Into Darkness</a></h5>
                                <div class="post_info theme_info">
                                    <span class="post_date theme_text">September 6, 2013</span>
                                    <span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
                                    <span class="post_comments_text"><a href="single-format-gallery.html"><span class="post_comments_number">8055</span> views</a></span>
                                </div>
                            </div>
                        </div>
                        <!-- /post item -->

                        <!-- post item -->
                        <div class="post_item">
                            <div class="post_thumb image_wrapper"><img alt="" src="images/sidebar-tab-pic4.jpg"></div>
                            <div class="post_wrapper">
                                <h5 class="post_title theme_title"><a href="single-format-standard.html">Grid</a></h5>
                                <div class="post_info theme_info">
                                    <span class="post_date theme_text">August 30, 2013</span>
                                    <span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
                                    <span class="post_comments_text"><a href="single-format-standard.html"><span class="post_comments_number">6354</span> views</a></span>
                                </div>
                            </div>
                        </div>
                        <!-- /post item -->
                    </div>

                    <div class="tab_content" id="widget_popular_block2">

                        <!-- post item -->
                        <div class="post_item first">
                            <div class="post_thumb image_wrapper"><img alt="" src="images/sidebar-tab-pic5.jpg"></div>
                            <div class="post_wrapper">
                                <h5 class="post_title theme_title"><a href="single-format-video.html">Iron Man</a></h5>
                                <div class="post_info theme_info">
                                    <span class="post_date theme_text">September 1, 2013</span>
                                    <span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
                                    <span class="post_comments_text"><a href="single-format-video.html#comments"><span class="post_comments_number">2</span> comments</a></span>
                                </div>
                            </div>
                        </div>
                        <!-- /post item -->

                        <!-- post item -->
                        <div class="post_item">
                            <div class="post_thumb image_wrapper"><img alt="" src="images/sidebar-tab-pic6.jpg"></div>
                            <div class="post_wrapper">
                                <h5 class="post_title theme_title"><a href="single-format-gallery.html">Star Trek Into Darkness</a></h5>
                                <div class="post_info theme_info">
                                    <span class="post_date theme_text">September 6, 2013</span>
                                    <span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
                                    <span class="post_comments_text"><a href="single-format-gallery.html#comments"><span class="post_comments_number">1</span> comments</a></span>

                                </div>
                            </div>
                        </div>
                        <!-- /post item -->

                        <!-- post item -->
                        <div class="post_item">
                            <div class="post_thumb image_wrapper"><img alt="" src="images/sidebar-tab-pic7.jpg"></div>
                            <div class="post_wrapper">
                                <h5 class="post_title theme_title"><a href="excerpt-style1.html">Inception</a></h5>
                                <div class="post_info theme_info">
                                    <span class="post_date theme_text">September 15, 2012</span>
                                    <span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
                                    <span class="post_comments_text"><a href="excerpt-style1.html#comments"><span class="post_comments_number">0</span> comments</a></span>
                                </div>
                            </div>
                        </div>
                        <!-- /post item -->

                        <!-- post item -->
                        <div class="post_item">
                            <div class="post_thumb image_wrapper"><img alt="" src="images/sidebar-tab-pic8.jpg"></div>
                            <div class="post_wrapper">
                                <h5 class="post_title theme_title"><a href="single-format-audio.html">Duft punk - Get lucky</a></h5>
                                <div class="post_info theme_info">
                                    <span class="post_date theme_text">August 26, 2013</span>
                                    <span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
                                    <span class="post_comments_text"><a href="single-format-audio.html#comments"><span class="post_comments_number">0</span> comments</a></span>
                                </div>
                            </div>
                        </div>
                        <!-- /post item -->
                    </div>
                </div>
                <!-- /Tabs -->
            </aside>
            <!-- /Popular Post -->

            <!-- Tag clouds -->
            <aside class="widget widget_tag_cloud">
                <h3 class="widget_title theme_title">Tags</h3>
                <div class="tagcloud">
                    <a href="excerpt-style4.html" title="1 topic">accessories</a>
                    <a href="excerpt-style3.html" title="1 topic">actions</a>
                    <a href="excerpt-style3.html" title="3 topics">games</a>
                    <a href="single-format-standard.html" title="1 topic">iron man</a>
                    <a href="single-format-standard.html" title="1 topic">man of steel</a>
                    <a href="excerpt-style4.html" title="1 topic">media</a>
                    <a href="single-format-video.html" title="1 topic">mobile</a>
                    <a href="excerpt-style1.html" title="3 topics">movies</a>
                    <a href="fullpost-style.html" title="3 topics">music</a>
                    <a href="single-format-video.html" title="1 topic">phones</a>
                    <a href="single-format-quote.html" title="1 topic">quotes</a>
                    <a href="excerpt-style4.html" title="1 topic">Technics</a>
                </div>
            </aside>
            <!-- /Tag clouds -->
            <!-- Calendar -->  
            <aside class="widget widget_calendar">
                <div>
                    <table>
                        <caption>May 2014</caption>
                        <thead>
                            <tr>
                                <th scope="col" title="Monday">M</th>
                                <th scope="col" title="Tuesday">T</th>
                                <th scope="col" title="Wednesday">W</th>
                                <th scope="col" title="Thursday">T</th>
                                <th scope="col" title="Friday">F</th>
                                <th scope="col" title="Saturday">S</th>
                                <th scope="col" title="Sunday">S</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td colspan="3" id="prev"><a href="#" title="View posts for August 2013">&laquo; Apr</a></td>
                                <td class="pad">&nbsp;</td>
                                <td colspan="3" id="next"><a href="#" title="View posts for May 2014">Jun &raquo;</a></td>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td colspan="3" class="pad">&nbsp;</td>
                                <td><a href="excerpt-style6.html" title="">1</a></td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td><a href="excerpt-style5.html" title="">5</a></td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td><a href="excerpt-style4.html" title="">10</a></td>
                                <td>11</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>13</td>
                                <td><a href="excerpt-style3.html" title="">14</a></td>
                                <td>15</td>
                                <td>16</td>
                                <td>17</td>
                                <td>18</td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td>20</td>
                                <td>21</td>
                                <td>22</td>
                                <td><a href="excerpt-style2.html" title="">23</a></td>
                                <td>24</td>
                                <td>25</td>
                            </tr>
                            <tr>
                                <td><a href="excerpt-style1.html" title="">26</a></td>
                                <td>27</td>
                                <td>28</td>
                                <td id="today"><a href="excerpt-style2.html" title="">29</a></td>
                                <td>30</td>
                                <td>31</td>
                                <td class="pad" colspan="1">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </aside>        
        </div>
        <!-- #sidebar -->

    </div><!-- #main_inner -->
</div><!-- #main -->