<div id="main" class="">
    <div id="main_inner" class="clearboth blog_style_fullpost">
        <!-- content -->
        <div id="content" class="content_blog post_single" role="main">
            <div class="itemscope" itemscope itemtype="http://schema.org/Article">

                <article class="theme_article post_format_standard instock">
                    <div class="post_content">
                        <div itemprop="articleBody" class="post_text_area">
                            <div class="sc_column_item sc_column_item_1 first">

                                <!-- Contact form -->
                                <h2>FORMULARIO DE CONTACTO</h2>
                                <div class="sc_contact_form">
                                    <div class="description">Descripcion del formulario de contacto...</div>
                                    <form method="post" action="#">
                                        <div class="field field_name">
                                            <input type="text" id="sc_contact_form_username2" name="username" placeholder="Tu Nombre*" />
                                        </div>
                                        <div class="field field_email">
                                            <input type="text" id="sc_contact_form_email2" name="email" placeholder="Tu Email*" />
                                        </div>
                                        <div class="field field_message">
                                            <textarea id="sc_contact_form_message2" name="message" placeholder="Tu Mensaje*"></textarea>
                                        </div>
                                        <div class="sc_contact_form_button">
                                            <a href="#" class="sc_contact_form_submit theme_button"><span>Enviar</span></a>
                                        </div>
                                        <div class="result sc_infobox"></div>
                                    </form> 
                                </div>
                                <!-- /Contact form -->

                                <!-- Highlightg -->
<!--                                <h2>HIGHLIGHT</h2>
                                <p>Lorem ipsum dolor sit amet, <span class="sc_highlight sc_highlight_style5">consectetur adipisicing</span> elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <span class="sc_highlight sc_highlight_style6">Ut enim ad minim veniam</span>, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
                                <!-- Highlightg -->

                            </div>
                        </div>
                    </div>
                </article>

            </div>
        </div><!-- #content -->
    </div><!-- #main_inner -->
</div><!-- #main -->