<div id="header_middle_wrapper">
    <div id="header_middle"  >
        <div id="header_middle_inner">
            <div class="search_form_area theme_body">
                <form class="search_form"><input class="search_field" type="search" placeholder="Escribe tu busqueda con palabras claves ..." #inputSearch (keyup)="input.emit(inputSearch.value)" (change)="input.emit(inputSearch.value)" name="s"></form>
                <a href="#" class="search_close" (click)="input.emit(inputSearch.value = '')"><span class="icon-cancel-circled"></span></a>
            </div>
            <!-- main menu -->
            <nav id="mainmenu_area" class="mainmenu_area theme_menu" role="navigation">
                <a href="#" class="search_link"><span class="icon-search"></span></a>
            </nav>
            <!-- #main menu -->
        </div>
    </div>
</div>
<div id="main" class="without_sidebar">
    <div id="main_map" class="main_map_fixed">
        <div id="main_map_inner">
            <ng2-map [zoom]="12" [scrollwheel]="false">
                <!--[options]="{zoom: 12, scrollwheel: false}"-->
                <!--                <custom-marker *ngFor="let p of properties | filterProperty:inputSearch.value;" [position]="[p.latitude, p.longitude]" (click)="showInfoWindow($event)">
                                            <img class="ui mini image" src="/images/map-pin-5.png">
                                </custom-marker>-->
                <marker *ngFor="let p of properties | filterProperty:inputSearch.value;" [position]="[p.latitude, p.longitude]" [icon]="'images/map-pin-1.png'" (click)="showInfoWindow($event)">
            </marker>
            <info-window id="iw">
                lat: [[lat]], lng: [[lng]]
            </info-window>
        </ng2-map>	
    </div>
</div>
</div>