<div id="main" class="without_sidebar">
    <div id="main_map" class="main_map_fixed">
        <div id="main_map_inner">
            <ng2-map [zoom]="12" [scrollwheel]="false">
                <!--[options]="{zoom: 12, scrollwheel: false}"-->

                <marker *ngFor="let p of properties | filterProperty:gs.inputSearch" [position]="[p.latitude, p.longitude]" [icon]="'images/map-pin-1.png'" (click)="showInfoWindow($event)">
            </marker>
            <info-window id="iw">
                lat: [[lat]], lng: [[lng]]
            </info-window>
        </ng2-map>	
    </div>
</div>
</div>
