<div id="main" class="with_sidebar right_sidebar">
    <div id="main_inner" class="clearboth blog_style_excerpt">
        <!-- content -->
        <div id="content" class="content_blog" role="main" itemscope itemtype="http://schema.org/Blog">

            <!-- post item -->
            <article class="theme_article post_format_video instock">
                <div class="post_thumb image_wrapper no_thumb" data-video="<iframe class='video_frame' src='https://youtube.com/embed/1iIZeIy7TqM?autoplay=1' width='466' height='310' frameborder='0' webkitAllowFullScreen='webkitAllowFullScreen' mozallowfullscreen='mozallowfullscreen' allowFullScreen='allowFullScreen'></iframe>">
                    <a href="single-format-video.html"><img alt="" src="images_posts/img-post27.jpg"></a>				
                    <a href="#" class="post_video_play icon-play"></a>
                    <span class="post_format theme_accent_bg icon-video"></span>
                    <span class="post_category theme_accent_bg">Movies</span>
                </div>
                <div class="post_content">
                    <div class="post_info post_info_top theme_info">
                        Posted <span class="post_date theme_text">September 1, 2013</span>
                        <span class="post_author">by <a href="excerpt-style1.html" class="post_author">John Doe</a></span>
                        <br />
                        <span class="post_cats">in <a class="cat_link" href="excerpt-style4.html">Actions,</a> <a class="cat_link" href="excerpt-style5.html">Adventure,</a> <a class="cat_link" href="excerpt-style1.html">Movies</a> </span><span class="post_comments"><a href="single-format-video.html"><span class="comments_icon theme_info icon-eye"></span><span class="comments_number">12033</span></a></span>
                    </div>
                    <div class="title_area">
                        <h2 class="post_title"><a href="single-format-video.html" class="theme_title">Iron Man</a></h2>

                        <!-- post review -->
                        <div class="reviews_summary blog_reviews">
                            <div class="criteria_summary criteria_row">
                                <span class="criteria_stars" title="4.4 from 5">
                                    <span class="stars_off"><span class="theme_stars"></span><span class="theme_stars"></span><span class="theme_stars"></span><span class="theme_stars"></span><span class="theme_stars"></span></span>
                                    <span class="stars_on" data-review="88"><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span></span>
                                </span>						
                            </div>
                        </div>
                        <!-- /post review -->

                    </div>	
                    <div class="post_text_area">
                        <p>When Tony Stark's world is torn apart by a formidable terrorist called the Mandarin, he starts an odyssey of rebuilding and retribution</p>
                        <a href="single-format-video.html" class="more-link">Read more</a>
                        <div class="post_info post_info_bottom theme_info">
                            <span class="post_tags">
                                <span class="tags_label">Tags:</span>
                                <a class="tag_link" href="single-format-video.html">iron man,</a> <a class="tag_link" href="excerpt-style1.html">movies</a>
                            </span>
                        </div>
                    </div>
                </div>
            </article>
            <!-- /post item -->

            <!-- post item -->
            <article class="theme_article post_format_video instock">
                <div class="post_thumb image_wrapper no_thumb" data-video="<iframe class='video_frame' src='http://player.vimeo.com/video/33174546?autoplay=1' width='466' height='310' frameborder='0' webkitAllowFullScreen='webkitAllowFullScreen' mozallowfullscreen='mozallowfullscreen' allowFullScreen='allowFullScreen'></iframe>">
                    <a href="single-format-video.html"><img alt="" src="images_posts/img-post28.jpg"></a>				
                    <a href="#" class="post_video_play icon-play"></a>
                    <span class="post_format theme_accent_bg icon-video"></span>
                    <span class="post_category theme_accent_bg">Tech</span>
                </div>

                <div class="post_content">
                    <div class="post_info post_info_top theme_info">
                        Posted <span class="post_date theme_text">October 24, 2012</span>
                        <span class="post_author">by <a href="excerpt-style1.html" class="post_author">John Doe</a></span><br />
                        <span class="post_cats">in <a class="cat_link" href="excerpt-style4.html">Tech</a> </span>
                        <span class="post_comments"><a href="single-format-video.html"><span class="comments_icon theme_info icon-eye"></span><span class="comments_number">967</span></a></span>
                    </div>
                    <div class="title_area">
                        <h2 class="post_title"><a href="single-format-video.html" class="theme_title">Audio-technics</a></h2>
                    </div>	
                    <div class="post_text_area">
                        <p>Vivamus vel ligula sed magna adipiscing malesuada porttitor id nulla. Cras rutrum purus ligula, sit amet placerat quam mattis cursus. Maecenas posuere leo quis bibendum lacinia. Nullam elementum nisi eu metus bibendum blandit. Nullam venenatis...					
                            <a href="single-format-video.html" class="more-link">Read more</a>
                    </div>
                </div>
            </article>
            <!-- /post item -->

            <!-- post item -->
            <article class="theme_article post_format_video last instock">
                <div class="post_thumb image_wrapper no_thumb" data-video="<iframe class='video_frame' src='https://youtube.com/embed/1iIZeIy7TqM?autoplay=1' width='466' height='310' frameborder='0' webkitAllowFullScreen='webkitAllowFullScreen' mozallowfullscreen='mozallowfullscreen' allowFullScreen='allowFullScreen'></iframe>">
                    <a href="single-format-video.html"><img alt="" src="images_posts/img-post29.jpg"></a>				
                    <a href="#" class="post_video_play icon-play"></a>
                    <span class="post_format theme_accent_bg icon-video"></span>
                    <span class="post_category theme_accent_bg">Tech</span>
                </div>
                <div class="post_content">
                    <div class="post_info post_info_top theme_info">
                        Posted <span class="post_date theme_text">October 22, 2012</span>
                        <span class="post_author">by <a href="excerpt-style1.html" class="post_author">John Doe</a></span><br />
                        <span class="post_cats">in <a class="cat_link" href="excerpt-style4.html">Tech</a> </span>
                        <span class="post_comments"><a href="single-format-video.html"><span class="comments_icon theme_info icon-eye"></span><span class="comments_number">736</span></a></span>
                    </div>
                    <div class="title_area">
                        <h2 class="post_title"><a href="single-format-video.html" class="theme_title">Top 10 headphones</a></h2>
                    </div>	
                    <div class="post_text_area">
                        <p>Donec aliquet iaculis metus, ut commodo turpis porttitor vel. Nam arcu urna, fringilla eu mauris quis, auctor fringilla diam. Nam vel sollicitudin tortor, eget ullamcorper nibh. Sed tempus tortor id arcu placerat, et lacinia lacus accumsan...					
                            <a href="single-format-video.html" class="more-link">Read more</a>
                    </div>
                </div>
            </article>
            <!-- /post item -->

            <!-- post item -->
            <div id="viewmore" class="pagination_viewmore">
                <a id="viewmore_link" class="theme_button view_more_button"><span class="icon-spin3 animate-spin viewmore_loading"></span><span class="viewmore_text_1">View more</span><span class="viewmore_text_2">Loading ...</span></a>
            </div>
        </div><!-- #content -->

        <!-- Sidebar -->
        <div id="sidebar_main" class="widget_area sidebar_main theme_green" role="complementary">
            <!-- widget categories -->
            <aside class="widget widget_categories">
                <h3 class="widget_title theme_title">Categories</h3>		
                <ul>
                    <li><a href="excerpt-style6.html" title="View all posts filed under Advertisement">Advertisement</a></li>
                    <li><a href="excerpt-style3.html" title="View all posts filed under Games">Games</a></li>
                    <li><a href="excerpt-style1.html" title="View all posts filed under Movies">Movies</a>
                        <ul class="children">
                            <li><a href="excerpt-style5.html" title="View all posts filed under Actions">Actions</a></li>
                            <li><a href="excerpt-style1.html" title="View all posts filed under Adventure">Adventure</a></li>
                        </ul>
                    </li>
                    <li><a href="fullpost-style.html" title="View all posts filed under Music">Music</a></li>
                    <li><a href="excerpt-style4.html" title="View all posts filed under Tech">Tech</a></li>
                </ul>
            </aside>
            <!-- widget categories -->
            <!-- Popular Post -->
            <aside class="widget widget_popular_posts">
                <h3 class="widget_title theme_title">Popular</h3>
                <!-- Tabs -->
                <div class="popular_and_commented_tabs">
                    <ul class="tabs">
                        <li><a href="#widget_popular_block1" class="theme_button"><span>Popular</span></a></li><li><a href="#widget_popular_block2" class="theme_button"><span>Commented</span></a></li>
                    </ul>
                    <div class="tab_content" id="widget_popular_block1">
                        <!-- post item -->
                        <div class="post_item first">
                            <div class="post_thumb image_wrapper"><img alt="" src="images/sidebar-tab-pic1.jpg"></div>
                            <div class="post_wrapper">
                                <h5 class="post_title theme_title"><a href="single-format-video.html">Iron Man</a></h5>
                                <div class="post_info theme_info">
                                    <span class="post_date theme_text">September 1, 2013</span>
                                    <span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
                                    <span class="post_comments_text"><a href="single-format-video.html"><span class="post_comments_number">12019</span> views</a></span>
                                </div>
                            </div>
                        </div>
                        <!-- /post item -->

                        <!-- post item -->
                        <div class="post_item">
                            <div class="post_thumb image_wrapper"><img alt="" src="images/sidebar-tab-pic2.jpg"></div>
                            <div class="post_wrapper">
                                <h5 class="post_title theme_title"><a href="single-format-standard.html">Man of steel</a></h5>
                                <div class="post_info theme_info">
                                    <span class="post_date theme_text">August 30, 2013</span>
                                    <span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
                                    <span class="post_comments_text"><a href="single-format-standard.html"><span class="post_comments_number">10680</span> views</a></span>
                                </div>
                            </div>
                        </div>
                        <!-- /post item -->

                        <!-- post item -->
                        <div class="post_item">
                            <div class="post_thumb image_wrapper"><img alt="" src="images/sidebar-tab-pic3.jpg"></div>
                            <div class="post_wrapper">
                                <h5 class="post_title theme_title"><a href="single-format-gallery.html">Star Trek Into Darkness</a></h5>
                                <div class="post_info theme_info">
                                    <span class="post_date theme_text">September 6, 2013</span>
                                    <span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
                                    <span class="post_comments_text"><a href="single-format-gallery.html"><span class="post_comments_number">8055</span> views</a></span>
                                </div>
                            </div>
                        </div>
                        <!-- /post item -->

                        <!-- post item -->
                        <div class="post_item">
                            <div class="post_thumb image_wrapper"><img alt="" src="images/sidebar-tab-pic4.jpg"></div>
                            <div class="post_wrapper">
                                <h5 class="post_title theme_title"><a href="single-format-standard.html">Grid</a></h5>
                                <div class="post_info theme_info">
                                    <span class="post_date theme_text">August 30, 2013</span>
                                    <span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
                                    <span class="post_comments_text"><a href="single-format-standard.html"><span class="post_comments_number">6354</span> views</a></span>
                                </div>
                            </div>
                        </div>
                        <!-- /post item -->
                    </div>

                    <div class="tab_content" id="widget_popular_block2">

                        <!-- post item -->
                        <div class="post_item first">
                            <div class="post_thumb image_wrapper"><img alt="" src="images/sidebar-tab-pic5.jpg"></div>
                            <div class="post_wrapper">
                                <h5 class="post_title theme_title"><a href="single-format-video.html">Iron Man</a></h5>
                                <div class="post_info theme_info">
                                    <span class="post_date theme_text">September 1, 2013</span>
                                    <span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
                                    <span class="post_comments_text"><a href="single-format-video.html#comments"><span class="post_comments_number">2</span> comments</a></span>
                                </div>
                            </div>
                        </div>
                        <!-- /post item -->

                        <!-- post item -->
                        <div class="post_item">
                            <div class="post_thumb image_wrapper"><img alt="" src="images/sidebar-tab-pic6.jpg"></div>
                            <div class="post_wrapper">
                                <h5 class="post_title theme_title"><a href="single-format-gallery.html">Star Trek Into Darkness</a></h5>
                                <div class="post_info theme_info">
                                    <span class="post_date theme_text">September 6, 2013</span>
                                    <span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
                                    <span class="post_comments_text"><a href="single-format-gallery.html#comments"><span class="post_comments_number">1</span> comments</a></span>

                                </div>
                            </div>
                        </div>
                        <!-- /post item -->

                        <!-- post item -->
                        <div class="post_item">
                            <div class="post_thumb image_wrapper"><img alt="" src="images/sidebar-tab-pic7.jpg"></div>
                            <div class="post_wrapper">
                                <h5 class="post_title theme_title"><a href="excerpt-style1.html">Inception</a></h5>
                                <div class="post_info theme_info">
                                    <span class="post_date theme_text">September 15, 2012</span>
                                    <span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
                                    <span class="post_comments_text"><a href="excerpt-style1.html#comments"><span class="post_comments_number">0</span> comments</a></span>
                                </div>
                            </div>
                        </div>
                        <!-- /post item -->

                        <!-- post item -->
                        <div class="post_item">
                            <div class="post_thumb image_wrapper"><img alt="" src="images/sidebar-tab-pic8.jpg"></div>
                            <div class="post_wrapper">
                                <h5 class="post_title theme_title"><a href="single-format-audio.html">Duft punk - Get lucky</a></h5>
                                <div class="post_info theme_info">
                                    <span class="post_date theme_text">August 26, 2013</span>
                                    <span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
                                    <span class="post_comments_text"><a href="single-format-audio.html#comments"><span class="post_comments_number">0</span> comments</a></span>
                                </div>
                            </div>
                        </div>
                        <!-- /post item -->
                    </div>
                </div>
                <!-- /Tabs -->
            </aside>
            <!-- /Popular Post -->

            <!-- Tag clouds -->
            <aside class="widget widget_tag_cloud">
                <h3 class="widget_title theme_title">Tags</h3>
                <div class="tagcloud">
                    <a href="excerpt-style4.html" title="1 topic">accessories</a>
                    <a href="excerpt-style3.html" title="1 topic">actions</a>
                    <a href="excerpt-style3.html" title="3 topics">games</a>
                    <a href="single-format-standard.html" title="1 topic">iron man</a>
                    <a href="single-format-standard.html" title="1 topic">man of steel</a>
                    <a href="excerpt-style4.html" title="1 topic">media</a>
                    <a href="single-format-video.html" title="1 topic">mobile</a>
                    <a href="excerpt-style1.html" title="3 topics">movies</a>
                    <a href="fullpost-style.html" title="3 topics">music</a>
                    <a href="single-format-video.html" title="1 topic">phones</a>
                    <a href="single-format-quote.html" title="1 topic">quotes</a>
                    <a href="excerpt-style4.html" title="1 topic">Technics</a>
                </div>
            </aside>
            <!-- /Tag clouds -->
            <!-- Calendar -->  
            <aside class="widget widget_calendar">
                <div>
                    <table>
                        <caption>May 2014</caption>
                        <thead>
                            <tr>
                                <th scope="col" title="Monday">M</th>
                                <th scope="col" title="Tuesday">T</th>
                                <th scope="col" title="Wednesday">W</th>
                                <th scope="col" title="Thursday">T</th>
                                <th scope="col" title="Friday">F</th>
                                <th scope="col" title="Saturday">S</th>
                                <th scope="col" title="Sunday">S</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td colspan="3" id="prev"><a href="#" title="View posts for August 2013">&laquo; Apr</a></td>
                                <td class="pad">&nbsp;</td>
                                <td colspan="3" id="next"><a href="#" title="View posts for May 2014">Jun &raquo;</a></td>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td colspan="3" class="pad">&nbsp;</td>
                                <td><a href="excerpt-style6.html" title="">1</a></td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td><a href="excerpt-style5.html" title="">5</a></td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td><a href="excerpt-style4.html" title="">10</a></td>
                                <td>11</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>13</td>
                                <td><a href="excerpt-style3.html" title="">14</a></td>
                                <td>15</td>
                                <td>16</td>
                                <td>17</td>
                                <td>18</td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td>20</td>
                                <td>21</td>
                                <td>22</td>
                                <td><a href="excerpt-style2.html" title="">23</a></td>
                                <td>24</td>
                                <td>25</td>
                            </tr>
                            <tr>
                                <td><a href="excerpt-style1.html" title="">26</a></td>
                                <td>27</td>
                                <td>28</td>
                                <td id="today"><a href="excerpt-style2.html" title="">29</a></td>
                                <td>30</td>
                                <td>31</td>
                                <td class="pad" colspan="1">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </aside>        
        </div>
        <!-- #sidebar -->

    </div><!-- #main_inner -->
</div><!-- #main -->