<div id="main" class="with_sidebar right_sidebar">
    <div id="main_inner" class="clearboth blog_style_fullpost">
        <!-- content -->
        <div id="content" class="content_blog" role="main" itemscope itemtype="http://schema.org/Blog">

            <!-- post item -->
            <article class="theme_article post_format_audio instock">
                <div class="post_thumb image_wrapper no_thumb">
                    <a href="single-format-audio.html"><img alt="" src="images_posts/img-post25.jpg"></a>				
                    <span class="post_format theme_accent_bg icon-note"></span>
                    <span class="post_category theme_accent_bg">Music</span>
                </div>

                <!-- post content -->
                <div class="post_content">

                    <!-- post info -->
                    <div class="post_info post_info_top theme_info">
                        Posted <span class="post_date theme_text">August 26, 2013</span>
                        <span class="post_author">by <a href="excerpt-style1.html" class="post_author">John Doe</a></span>
                        <span class="post_cats">in <a class="cat_link" href="fullpost-style.html">Music</a> </span>
                        <span class="post_comments"><a href="single-format-audio.html"><span class="comments_icon theme_info icon-eye"></span><span class="comments_number">3955</span></a></span>
                    </div>
                    <!-- /post info -->

                    <div class="title_area">
                        <h1 class="post_title"><a href="single-format-audio.html" class="theme_title">Duft punk - Get lucky</a></h1>

                        <!-- post review -->
                        <div class="reviews_summary blog_reviews">
                            <div class="criteria_summary criteria_row">
                                <span class="criteria_stars" title="5.0 from 5">
                                    <span class="stars_off"><span class="theme_stars"></span><span class="theme_stars"></span><span class="theme_stars"></span><span class="theme_stars"></span><span class="theme_stars"></span></span>
                                    <span class="stars_on" data-review="100"><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span><span class="theme_stars theme_stars_on"></span></span>
                                </span>						
                            </div>
                        </div>
                        <!-- /post review -->

                    </div>
                    <div class="post_text_area">
                        <p>Ut pretium tristique dui, eu sagittis mauris mollis vel. Pellentesque eget nulla ipsum. Fusce hendrerit felis a lacus euismod tincidunt consectetur eget tellus. Nam placerat, magna eu molestie mattis, nisl lorem vulputate massa, vitae condimentum sapien mi at erat. Sed sed justo augue. Morbi sit amet tempor orci. Mauris facilisis, sapien et dictum malesuada, dui nulla facilisis risus, vitae dignissim turpis lacus at nulla. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc turpis magna, laoreet at sem sed, semper dictum neque. Integer faucibus, augue ac tempor aliquet, metus erat elementum erat, sed sagittis sapien turpis vitae quam. Maecenas sollicitudin eget nisi at laoreet. Sed eu porta metus. Pellentesque in rutrum libero. Nulla semper diam eu scelerisque accumsan.</p>
                        <p>Mauris viverra erat vel tincidunt ornare. Vivamus consequat, odio ut commodo fringilla, metus massa volutpat massa, sit amet volutpat sem est sollicitudin libero. Integer nunc nibh, sollicitudin vel tempus et, egestas et velit. Maecenas condimentum ante vitae porta lacinia. Phasellus et accumsan sem. Sed scelerisque semper ante, facilisis adipiscing ante iaculis ac. Praesent lacinia mi blandit pellentesque faucibus. Duis tempus lacinia leo, in faucibus turpis gravida commodo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris nulla massa, iaculis tristique mollis vel, tristique id turpis. Quisque eu ultrices tellus. Praesent at dolor vestibulum lacus fermentum accumsan sed a justo. Proin auctor tempus ultrices. Praesent euismod fringilla ipsum, a molestie sem tincidunt in. Nunc non odio bibendum, fringilla augue vitae, elementum sapien.</p>
                        <p>Maecenas rutrum velit id arcu faucibus, id sagittis lorem vulputate. Etiam sed mollis metus. Fusce molestie vehicula ultrices. Duis semper vulputate luctus. Proin dignissim ipsum tempor erat dictum, nec ullamcorper quam convallis. In vehicula egestas luctus. Sed non est nunc. In rutrum metus at porta interdum. Quisque iaculis mi tincidunt, dignissim nisl vulputate, tempus diam. Donec lacinia neque sed dolor gravida, vitae feugiat purus feugiat. In fermentum aliquet diam, a consectetur dui sollicitudin at. Vivamus sed consectetur velit, non ullamcorper tellus. Quisque gravida augue vitae est ultrices congue. Mauris vel feugiat quam.</p>
                        <div class="audio_container"><audio src="sound/sample-melody.mp3" class="sc_audio" controls="controls" width="100%" height="30"></audio></div>
                        <div class="post_info post_info_bottom theme_info">
                            <span class="post_tags">
                                <span class="tags_label">Tags:</span>
                                <a class="tag_link" href="fullpost-style.html">music</a> 					
                            </span>
                        </div>
                    </div>
                </div>
                <!-- /post content -->
            </article>
            <!-- /post item -->

            <!-- post item -->
            <article class="theme_article post_format_audio instock">
                <div class="post_thumb image_wrapper no_thumb">
                    <a href="single-format-audio.html"><img alt="" src="images_posts/img-post26.jpg"></a>				
                    <span class="post_format theme_accent_bg icon-note"></span>
                    <span class="post_category theme_accent_bg">Music</span>
                </div>

                <!-- post content -->
                <div class="post_content">

                    <!-- post info -->
                    <div class="post_info post_info_top theme_info">
                        Posted <span class="post_date theme_text">August 26, 2013</span>
                        <span class="post_author">by <a href="excerpt-style1.html" class="post_author">John Doe</a></span>
                        <span class="post_cats">in <a class="cat_link" href="fullpost-style.html">Music</a> </span>
                        <span class="post_comments"><a href="single-format-audio.html"><span class="comments_icon theme_info icon-eye"></span><span class="comments_number">1573</span></a></span>
                    </div>
                    <!-- post info -->

                    <div class="title_area">
                        <h1 class="post_title"><a href="single-format-audio.html" class="theme_title">Parma</a></h1>
                    </div>
                    <div class="post_text_area">
                        <p>Nunc pulvinar molestie odio ac laoreet. In sed bibendum arcu, vitae tempor elit. Quisque vel elit in enim tincidunt dignissim id ut nibh. Aenean adipiscing magna vel ipsum dictum, ut varius tortor euismod. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas suscipit est nec lectus pharetra, eu feugiat mi vulputate. Quisque mi lorem, rutrum et euismod et, mattis ac nunc. Ut ac libero feugiat nulla tempor tincidunt vel ut quam. Nullam malesuada ullamcorper lorem. Phasellus auctor viverra arcu quis fringilla. Nam odio est, ultrices varius cursus in, cursus id lacus. Quisque sit amet iaculis justo. Vestibulum a fringilla ante, id congue neque. Nulla gravida nisi in nisi pretium gravida eget eget arcu.</p>
                        <div class="audio_container"><audio src="sound/sample-melody.mp3" class="sc_audio"  controls="controls" width="100%" height="60"></audio></div>
                        <p>Sed sed aliquet erat. Integer quis facilisis ante. Morbi feugiat sagittis aliquam. Praesent imperdiet orci eu leo ullamcorper, sed aliquam quam egestas. Sed sagittis et nulla quis pulvinar. Integer eget luctus nisi, vel accumsan nisi. Sed at aliquet diam. Vestibulum venenatis, felis sed aliquet dignissim, ante lorem aliquam nisl, ac ornare magna nisl in augue. Donec ut lacus vitae dolor pulvinar ornare eu non arcu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam condimentum neque vestibulum erat auctor, in consectetur diam faucibus. Donec sapien orci, tincidunt vel dolor vitae, iaculis gravida turpis. Donec quis urna at dui facilisis suscipit. Nullam aliquet aliquet mattis. Sed tincidunt ipsum gravida sem tincidunt, ut tempus magna vehicula. Vivamus quis lobortis augue.</p>
                        <div class="post_info post_info_bottom theme_info">
                            <span class="post_tags">
                                <span class="tags_label">Tags:</span>
                                <a class="tag_link" href="fullpost-style.html">music</a> 					
                            </span>
                        </div>
                    </div>
                </div>
                <!-- /post content -->

            </article>
            <!-- /post item -->

            <div id="nav_pages" class="theme_paginaton">
                <ul>
                    <li class="pager_pages"><span>Page 1 of 9</span></li><li class="pager_current"><span title="">1</span></li><li><a href="#" title="2">2</a></li><li><a href="#" title="3">3</a></li><li><a href="#" title="4">4</a></li><li><a href="#" title="5">5</a></li><li class="pager_next"><a href="#">&raquo;</a></li><li class="pager_last"><a href="#" title="Last &raquo;">Last &raquo;</a></li>
                </ul>
            </div>
        </div><!-- #content -->

        <!-- Sidebar -->
        <div id="sidebar_main" class="widget_area sidebar_main theme_red" role="complementary">
            <!-- widget categories -->
            <aside class="widget widget_categories">
                <h3 class="widget_title theme_title">Categories</h3>		
                <ul>
                    <li><a href="excerpt-style6.html" title="View all posts filed under Advertisement">Advertisement</a></li>
                    <li><a href="excerpt-style3.html" title="View all posts filed under Games">Games</a></li>
                    <li><a href="excerpt-style1.html" title="View all posts filed under Movies">Movies</a>
                        <ul class="children">
                            <li><a href="excerpt-style5.html" title="View all posts filed under Actions">Actions</a></li>
                            <li><a href="excerpt-style1.html" title="View all posts filed under Adventure">Adventure</a></li>
                        </ul>
                    </li>
                    <li><a href="fullpost-style.html" title="View all posts filed under Music">Music</a></li>
                    <li><a href="excerpt-style4.html" title="View all posts filed under Tech">Tech</a></li>
                </ul>
            </aside>
            <!-- widget categories -->
            <!-- Popular Post -->
            <aside class="widget widget_popular_posts">
                <h3 class="widget_title theme_title">Popular</h3>
                <!-- Tabs -->
                <div class="popular_and_commented_tabs">
                    <ul class="tabs">
                        <li><a href="#widget_popular_block1" class="theme_button"><span>Popular</span></a></li><li><a href="#widget_popular_block2" class="theme_button"><span>Commented</span></a></li>
                    </ul>
                    <div class="tab_content" id="widget_popular_block1">
                        <!-- post item -->
                        <div class="post_item first">
                            <div class="post_thumb image_wrapper"><img alt="" src="images/sidebar-tab-pic1.jpg"></div>
                            <div class="post_wrapper">
                                <h5 class="post_title theme_title"><a href="single-format-video.html">Iron Man</a></h5>
                                <div class="post_info theme_info">
                                    <span class="post_date theme_text">September 1, 2013</span>
                                    <span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
                                    <span class="post_comments_text"><a href="single-format-video.html"><span class="post_comments_number">12019</span> views</a></span>
                                </div>
                            </div>
                        </div>
                        <!-- /post item -->

                        <!-- post item -->
                        <div class="post_item">
                            <div class="post_thumb image_wrapper"><img alt="" src="images/sidebar-tab-pic2.jpg"></div>
                            <div class="post_wrapper">
                                <h5 class="post_title theme_title"><a href="single-format-standard.html">Man of steel</a></h5>
                                <div class="post_info theme_info">
                                    <span class="post_date theme_text">August 30, 2013</span>
                                    <span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
                                    <span class="post_comments_text"><a href="single-format-standard.html"><span class="post_comments_number">10680</span> views</a></span>
                                </div>
                            </div>
                        </div>
                        <!-- /post item -->

                        <!-- post item -->
                        <div class="post_item">
                            <div class="post_thumb image_wrapper"><img alt="" src="images/sidebar-tab-pic3.jpg"></div>
                            <div class="post_wrapper">
                                <h5 class="post_title theme_title"><a href="single-format-gallery.html">Star Trek Into Darkness</a></h5>
                                <div class="post_info theme_info">
                                    <span class="post_date theme_text">September 6, 2013</span>
                                    <span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
                                    <span class="post_comments_text"><a href="single-format-gallery.html"><span class="post_comments_number">8055</span> views</a></span>
                                </div>
                            </div>
                        </div>
                        <!-- /post item -->

                        <!-- post item -->
                        <div class="post_item">
                            <div class="post_thumb image_wrapper"><img alt="" src="images/sidebar-tab-pic4.jpg"></div>
                            <div class="post_wrapper">
                                <h5 class="post_title theme_title"><a href="single-format-standard.html">Grid</a></h5>
                                <div class="post_info theme_info">
                                    <span class="post_date theme_text">August 30, 2013</span>
                                    <span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
                                    <span class="post_comments_text"><a href="single-format-standard.html"><span class="post_comments_number">6354</span> views</a></span>
                                </div>
                            </div>
                        </div>
                        <!-- /post item -->
                    </div>

                    <div class="tab_content" id="widget_popular_block2">

                        <!-- post item -->
                        <div class="post_item first">
                            <div class="post_thumb image_wrapper"><img alt="" src="images/sidebar-tab-pic5.jpg"></div>
                            <div class="post_wrapper">
                                <h5 class="post_title theme_title"><a href="single-format-video.html">Iron Man</a></h5>
                                <div class="post_info theme_info">
                                    <span class="post_date theme_text">September 1, 2013</span>
                                    <span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
                                    <span class="post_comments_text"><a href="single-format-video.html#comments"><span class="post_comments_number">2</span> comments</a></span>
                                </div>
                            </div>
                        </div>
                        <!-- /post item -->

                        <!-- post item -->
                        <div class="post_item">
                            <div class="post_thumb image_wrapper"><img alt="" src="images/sidebar-tab-pic6.jpg"></div>
                            <div class="post_wrapper">
                                <h5 class="post_title theme_title"><a href="single-format-gallery.html">Star Trek Into Darkness</a></h5>
                                <div class="post_info theme_info">
                                    <span class="post_date theme_text">September 6, 2013</span>
                                    <span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
                                    <span class="post_comments_text"><a href="single-format-gallery.html#comments"><span class="post_comments_number">1</span> comments</a></span>

                                </div>
                            </div>
                        </div>
                        <!-- /post item -->

                        <!-- post item -->
                        <div class="post_item">
                            <div class="post_thumb image_wrapper"><img alt="" src="images/sidebar-tab-pic7.jpg"></div>
                            <div class="post_wrapper">
                                <h5 class="post_title theme_title"><a href="excerpt-style1.html">Inception</a></h5>
                                <div class="post_info theme_info">
                                    <span class="post_date theme_text">September 15, 2012</span>
                                    <span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
                                    <span class="post_comments_text"><a href="excerpt-style1.html#comments"><span class="post_comments_number">0</span> comments</a></span>
                                </div>
                            </div>
                        </div>
                        <!-- /post item -->

                        <!-- post item -->
                        <div class="post_item">
                            <div class="post_thumb image_wrapper"><img alt="" src="images/sidebar-tab-pic8.jpg"></div>
                            <div class="post_wrapper">
                                <h5 class="post_title theme_title"><a href="single-format-audio.html">Duft punk - Get lucky</a></h5>
                                <div class="post_info theme_info">
                                    <span class="post_date theme_text">August 26, 2013</span>
                                    <span class="post_author">by <a href="excerpt-style1.html">John Doe</a></span><br />
                                    <span class="post_comments_text"><a href="single-format-audio.html#comments"><span class="post_comments_number">0</span> comments</a></span>
                                </div>
                            </div>
                        </div>
                        <!-- /post item -->
                    </div>
                </div>
                <!-- /Tabs -->
            </aside>
            <!-- /Popular Post -->

            <!-- Tag clouds -->
            <aside class="widget widget_tag_cloud">
                <h3 class="widget_title theme_title">Tags</h3>
                <div class="tagcloud">
                    <a href="excerpt-style4.html" title="1 topic">accessories</a>
                    <a href="excerpt-style3.html" title="1 topic">actions</a>
                    <a href="excerpt-style3.html" title="3 topics">games</a>
                    <a href="single-format-standard.html" title="1 topic">iron man</a>
                    <a href="single-format-standard.html" title="1 topic">man of steel</a>
                    <a href="excerpt-style4.html" title="1 topic">media</a>
                    <a href="single-format-video.html" title="1 topic">mobile</a>
                    <a href="excerpt-style1.html" title="3 topics">movies</a>
                    <a href="fullpost-style.html" title="3 topics">music</a>
                    <a href="single-format-video.html" title="1 topic">phones</a>
                    <a href="single-format-quote.html" title="1 topic">quotes</a>
                    <a href="excerpt-style4.html" title="1 topic">Technics</a>
                </div>
            </aside>
            <!-- /Tag clouds -->
            <!-- Calendar -->  
            <aside class="widget widget_calendar">
                <div>
                    <table>
                        <caption>May 2014</caption>
                        <thead>
                            <tr>
                                <th scope="col" title="Monday">M</th>
                                <th scope="col" title="Tuesday">T</th>
                                <th scope="col" title="Wednesday">W</th>
                                <th scope="col" title="Thursday">T</th>
                                <th scope="col" title="Friday">F</th>
                                <th scope="col" title="Saturday">S</th>
                                <th scope="col" title="Sunday">S</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td colspan="3" id="prev"><a href="#" title="View posts for August 2013">&laquo; Apr</a></td>
                                <td class="pad">&nbsp;</td>
                                <td colspan="3" id="next"><a href="#" title="View posts for May 2014">Jun &raquo;</a></td>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td colspan="3" class="pad">&nbsp;</td>
                                <td><a href="excerpt-style6.html" title="">1</a></td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                            </tr>
                            <tr>
                                <td><a href="excerpt-style5.html" title="">5</a></td>
                                <td>6</td>
                                <td>7</td>
                                <td>8</td>
                                <td>9</td>
                                <td><a href="excerpt-style4.html" title="">10</a></td>
                                <td>11</td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>13</td>
                                <td><a href="excerpt-style3.html" title="">14</a></td>
                                <td>15</td>
                                <td>16</td>
                                <td>17</td>
                                <td>18</td>
                            </tr>
                            <tr>
                                <td>19</td>
                                <td>20</td>
                                <td>21</td>
                                <td>22</td>
                                <td><a href="excerpt-style2.html" title="">23</a></td>
                                <td>24</td>
                                <td>25</td>
                            </tr>
                            <tr>
                                <td><a href="excerpt-style1.html" title="">26</a></td>
                                <td>27</td>
                                <td>28</td>
                                <td id="today"><a href="excerpt-style2.html" title="">29</a></td>
                                <td>30</td>
                                <td>31</td>
                                <td class="pad" colspan="1">&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </aside>        
        </div>
        <!-- #sidebar -->

    </div><!-- #main_inner -->
</div><!-- #main -->